{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
<article class="posts-list-item {{post_class}}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
    </header>
    <div class="date"><time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM DD, YYYY"}}</time></div>
    {{tags prefix="#"}}
    <section class="post-excerpt">
        <p>{{excerpt words="50"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    </section>
</article>
{{/foreach}}
