<!DOCTYPE html>
<html>
<head>
  {{!-- Document Settings --}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{!-- Page Meta --}}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />

  {{!-- Mobile Meta --}}
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{!-- Brand icon --}}
  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

  {{!-- Styles'n'Scripts --}}
  <style>
  @font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans'),local('OpenSans'),url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');unicode-range:U+0100-024F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans'),local('OpenSans'),url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000}@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'),local('OpenSans-Bold'),url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzIjoYw3YTyktCCer_ilOlhE.woff2) format('woff2');unicode-range:U+0100-024F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'),local('OpenSans-Bold'),url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000}@font-face{font-family:'Open Sans';font-style:italic;font-weight:700;src:local('Open Sans Bold Italic'),local('OpenSans-BoldItalic'),url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxogd9OEPUCN3AdYW0e8tat4.woff2) format('woff2');unicode-range:U+0100-024F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Open Sans';font-style:italic;font-weight:700;src:local('Open Sans Bold Italic'),local('OpenSans-BoldItalic'),url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxv79_ZuUxCigM2DespTnFaw.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000}@font-face{font-family:'Oswald';font-style:normal;font-weight:400;src:local('Oswald Regular'),local('Oswald-Regular'),url(https://fonts.gstatic.com/s/oswald/v11/Qw6_9HvXRQGg5mMbFR3Phn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');unicode-range:U+0100-024F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Oswald';font-style:normal;font-weight:400;src:local('Oswald Regular'),local('Oswald-Regular'),url(https://fonts.gstatic.com/s/oswald/v11/_P8jt3Y65hJ9c4AzRE0V1OvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000}@font-face{font-family:'Oswald';font-style:normal;font-weight:700;src:local('Oswald Bold'),local('Oswald-Bold'),url(https://fonts.gstatic.com/s/oswald/v11/dI-qzxlKVQA6TUC5RKSb34X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');unicode-range:U+0100-024F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:'Oswald';font-style:normal;font-weight:700;src:local('Oswald Bold'),local('Oswald-Bold'),url(https://fonts.gstatic.com/s/oswald/v11/bH7276GfdCjMjApa_dkG6ZBw1xU1rKptJj_0jans920.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000}html{font-family:'Open Sans',sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;box-sizing:border-box}body{margin:0;padding:2em;background:#fff}body,button,input,select,textarea{color:#404040;font-size:1rem;line-height:1.5}h1,h2,h3,h4,h5,h6{clear:both;font-family:Oswald,sans-serif}h2,h3,h4{margin:0}p{display:block;padding:0;margin:.5em 0 1em 0}a{background-color:transparent;color:#343434}a:active,a:focus,a:hover{color:#4e4e4e}a:focus{outline:dotted thin}h1{font-size:3em;margin:.5em 0}@media screen and (max-width:879px){.site-logo{display:none}.post-content img{width:100%}}@media screen and (min-width:880px){.site-header{width:20%;float:left}.site-title{padding-top:.8em}.site-wrapper{max-width:1240px;margin:auto}.site-content{width:80%;float:left}.content-area{padding:0 0 0 3em}.site-footer{clear:both;margin-left:20%;padding:4em 0 0 3em}}.site-logo{text-align:center}.logo{border-radius:100%;max-width:200px;width:100%}.site-title{font-size:2rem;font-family:Oswald,sans-serif}.site-title a{text-decoration:underline}.site-description{padding:0;margin:.2em 0 1em;font-size:1em}.navigation-menu{list-style:none;margin:0;padding-left:0}.navigation-menu .menu-item{border-bottom:1px solid #ddd;border-bottom:1px solid fade(#111,10);font-size:.8em;font-weight:bold}.navigation-menu .menu-item:last-child{border-bottom:0}.navigation-menu .menu-item a{padding:.5em 0;display:block;text-decoration:none}.posts-list-item{padding-top:1em}.share-container{padding-top:1em}.disqus-container{padding-top:2em}
  </style>

  {{!-- Ghost outputs important style and meta data with this tag --}}
  {{ghost_head}}
</head>
<body class="{{body_class}}">
  <div class="site-wrapper">
    <header class="site-header">
      <div>
        <div class="site-logo">
          {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img class="logo" src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        </div>
        <div class="site-title-wrapper">
          <div class="site-title">
            <a href="{{@blog.url}}" rel="home">{{@blog.title}}</a>
          </div>
          <p class="site-description">{{@blog.description}}</p>
				</div>
		  </div>
      {{!-- The blog navigation links --}}
      <nav role="navigation">
        {{navigation}}
      </nav>
    </header>

    <div class="site-content">
      {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
      {{{body}}}
    </div>
    {{!-- The tiny footer at the very bottom --}}
    <footer class="site-footer clearfix">
      <section class="site-info">&copy; {{date format="YYYY"}} {{@blog.title}}</section>
    </footer>

  </div>

  {{!-- Ghost outputs important scripts and data with this tag --}}
  {{ghost_foot}}

</body>
</html>
