<!DOCTYPE html>
<html>
<head>
  {{!-- Document Settings --}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{!-- Page Meta --}}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />

  {{!-- Mobile Meta --}}
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{!-- Brand icon --}}
  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

  {{!-- Styles --}}
  <style type="text/css">@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400,400i,700|Oswald:400,700);a,html{text-shadow:1px 1px 1px rgba(0,0,0,.004);text-rendering:optimizeLegibility!important;-webkit-font-smoothing:antialiased!important}html{font-family:'Open Sans',sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;box-sizing:border-box}body{padding:2em;background:#fff}body,button,input,select,textarea{color:#404040;font-size:1rem;line-height:1.5}h1,h2,h3,h4,h5,h6{clear:both;font-family:Oswald,sans-serif}body,h2,h3,h4{margin:0}p{display:block;padding:0;margin:.5em 0 1em}a{background-color:transparent;color:#343434}a:active,a:focus,a:hover{color:#4e4e4e}a:focus{outline:dotted thin}h1{font-size:3em;margin:.5em 0}code,pre,tt{background-color:#f5f7f8;border:1px solid #d8e0e4}pre{font-family:Consolas,"Liberation Mono",Menlo,Courier,monospace;overflow:auto;padding:10px;border-radius:3px;white-space:pre;font-size:.9em}code,tt{padding:.2rem .3rem .1rem;border-radius:2px;color:#c25;vertical-align:middle;white-space:pre-wrap;font-size:.8em;line-height:1em}.site-footer{padding-top:4em}.post-content img{max-width:100%}@media screen and (max-width:879px){.site-logo{display:none}.post-content img{width:100%}}@media screen and (min-width:880px){.site-header{width:20%;float:left}.site-title{padding-top:.8em}.site-wrapper{max-width:1240px;margin:auto}.site-content{width:80%;float:left}.content-area{padding:0 0 0 3em}.site-footer{clear:both;margin-left:20%;padding-left:3em}}.site-logo{text-align:center}.logo{border-radius:100%;max-width:200px;width:100%}.site-title{font-size:2rem;font-family:Oswald,sans-serif}.site-title a{text-decoration:underline}.site-description{padding:0;margin:.2em 0 1em;font-size:1em}.navigation-menu{list-style:none;margin:0;padding-left:0}.navigation-menu .menu-item{border-bottom:1px solid #ddd;border-bottom:1px solid fade(#111,10);font-size:.8em;font-weight:700}.navigation-menu .menu-item:last-child{border-bottom:0}.navigation-menu .menu-item a{padding:.5em 0;display:block;text-decoration:none;font-size:1.1rem;font-family:'Open Sans Condensed',sans-serif}.posts-list-item,.share-container{padding-top:1em}.disqus-container{padding-top:2em}</style>

  {{!-- Ghost outputs important style and meta data with this tag --}}
  {{ghost_head}}
</head>
<body class="{{body_class}}">
  <div class="site-wrapper">
    <header class="site-header">
      <div>
        <div class="site-logo">
          {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img class="logo" src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        </div>
        <div class="site-title-wrapper">
          <div class="site-title">
            <a href="{{@blog.url}}" rel="home">{{@blog.title}}</a>
          </div>
          <p class="site-description">{{@blog.description}}</p>
				</div>
		  </div>
      {{!-- The blog navigation links --}}
      <nav role="navigation">
        {{navigation}}
      </nav>
    </header>

    <div class="site-content">
      {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
      {{{body}}}
    </div>
    {{!-- The tiny footer at the very bottom --}}
    <footer class="site-footer clearfix">
      <section class="site-info">&copy; {{date format="YYYY"}} {{@blog.title}}</section>
    </footer>

  </div>

  {{!-- Ghost outputs important scripts and data with this tag --}}
  {{ghost_foot}}

</body>
</html>
