{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main class="content-area" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM DD, YYYY"}}</time> {{tags prefix="#"}}
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <link rel="stylesheet" type="text/css" href="{{asset "css/share.min.css"}}" />
        <footer class="post-footer">

            <section class="share-container">
                <a class="icon-link" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="symbol twitter-icon">circletwitterbird</span>
                </a>
                <a class="icon-link" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="symbol facebook-icon">circlefacebook</span>
                </a>
                <a class="icon-link" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="symbol google-icon">circlegoogleplus</span>
                </a>
            </section>

            {{!-- Email subscribe form at the bottom of the page --}}
            {{#if @labs.subscribers}}
            <section class="gh-subscribe">
                <h3 class="gh-subscribe-title">Subscribe to {{@blog.title}}</h3>
                <p>Get the latest posts delivered right to your inbox.</p>
                {{subscribe_form placeholder="Your email address"}}
                <span class="gh-subscribe-rss">or subscribe <a href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/">via RSS</a> with Feedly!</span>
            </section>
            {{/if}}

            <section id="disqus_thread" class="disqus-container"></section>
            <script>
              var disqus_config = function () {
                this.page.url = '{{url absolute="true"}}';
                this.page.identifier = 'ghost-{{id}}';
              };

              (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = '//ranis-info.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
              })();
            </script>
        </footer>

    </article>
</main>

{{/post}}
